@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #2b3b4c 0%, #1a242f 100%);
  color: white;
  min-height: 100vh;
}
